<div class="container-fluid">
    <div class="navbar navbar-default" style="background: #00A1E1; padding : 30px;">
        <h1 style="text-align: center">FFF - Ticket Systeem</h1>
    </div>
    <div class="center-block row" style="margin:20px;">
        <div class="col-xs-6 col-xs-offset-3">
            <div class="panel panel-default">
                <div class="panel-body" style="background : #F4F4F4;">
                    <div class="input-group" style="width: 100%; text-align: center;">
                        <div id="login_form">
                            <div class="form-group">
                                <label for="labelEmail">Email adres:</label>
                                <input type="email" class="form-control" id="txtEmail" placeholder="Enter email" name="email" ng-model="email" />
                            </div>
                            <div class="form-group" style="margin-top:50px;">
                                <label for="labelPassword">Password:</label>
                                <input type="password" class="form-control" id="txtPass" placeholder="Password" name="password" ng-model="password" />
                            </div>
                            <button type="button" id="login_button" class="btn btn-default btn-block" style="margin-top:40px;" ng-click="loginClick(email, password)">Login</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>