<div class="container" ng-app="EditTicketCtrl">
    <h1 style="text-align: center">Ticket Systeem FFF</h1>
    <h2 style="text-align: center">Ticket Bewerken</h2>
    <form role="form">
        <div class="form-group">
            <label for="ticketCreationTime">Ticket Creation Time:</label>
            <label id="ticketCreationTime" ng-model="SelectedTicket.created">{{SelectedTicket.created}}</label>
        </div>

        <div class="form-group">
            <label for="email">Email Address:</label>
            <input type="email" class="form-control" id="email" ng-model="SelectedTicket.email">
        </div>

        <div class="form-group">
            <label for="ticketName">Ticket Naam:</label>
            <input type="ticketName" class="form-control" id="ticketName" ng-model="SelectedTicket.subject">
        </div>


        <div class="form-group">
            <label for="ticketDescription">Ticket Beschrijving:</label>
            <textarea type="ticketDescription" class="form-control" id="ticketDescription" ng-model="SelectedTicket.description"></textarea>
        </div>


        <div class="form-group">
            <label for="selectedTicketType">Ticket Type:</label>
            <select name="selectTicketType" id="selectTicketType" ng-model="SelectedTicket.type">
                <option ng-repeat="option in ticketTypes">{{option.name}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="ticketSatus">Ticket Status:</label>
            <select name="ticketSatus" id="ticketSatus" ng-model="SelectedTicket.status">
                <option ng-repeat="option in statusTypes">{{option.name}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="ticketPriority">Ticket Prioriteit:</label>
            <select name="ticketPriority" id="ticketPriority" ng-model="SelectedTicket.priority">
                <option ng-repeat="option in priorityTypes">{{option.name}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="ticketSolved">Ticket Solved:</label>
            <input id="ticketSolved" type="checkbox" ng-model="SelectedTicket.ticketSolved" ng-click="IsTicketSolved()">
            <span ng-show="SelectedTicket.receive_updates == true">LET OP! Verzender ontvangt mail!</span>
        </div>

        
        <div id="ticketSolutionObject" class="hidden form-group">
            <label for="ticketSolution">Ticket Solution:</label>
            <textarea type="ticketSolution" class="form-control" id="ticketSolution" ng-model="SelectedTicket.solution"></textarea>
        </div>


        <button type="submit" class="btn btn-default" ng-click="editTicket()">Submit</button>
    </form>
</div>